.img-div{
    background-image: url('../../image/illustration.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    background-image: url('../../image/patternbg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    @apply bg-primary-400 flex justify-center items-center md:w-screen md:h-screen px-4 font-primary;
}
.Price-main{
    @apply bg-white w-full mx-auto my-4 md:my-0 md:w-4/6 lg:w-2/6 rounded-xl overflow-hidden shadow-lg;
}
.Plan-article{
    @apply flex justify-between items-center bg-primary-100 p-4 rounded-xl ;
}
.Heading-h3{
    @apply text-3xl font-bold my-2 text-primary-200;
}
.Plan-action{
    @apply cursor-pointer underline text-primary-300 hover:text-opacity-80 font-bold hover:no-underline;
}
.Btn{
    @apply w-full py-4 rounded-xl hover:bg-opacity-80 bg-primary-300 text-white my-6 shadow-xl;
}
.Btn-cancel {
    @apply cursor-pointer text-center text-primary-200 font-bold;
}